*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
html {
    font-size: 72.5%;
}

.container {
    width: 100%;
    min-height: 100vh;
    /* background-color: rgb(1, 72, 75); */
    background-color: hsl(182, 95%, 17%);
    display: flex;
    justify-content: center;
    align-items: center;

}
.Inner {
    width: 80rem;
    height: auto;
    margin: 4rem ;
    background-color: azure;
    border-radius: 20px;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.6);
}

.Inner h1 {
    text-align: center;
    font-weight: 500;
    font-size: 4.5rem;
    margin: 4rem 0 4rem 0;
}
.Inner ul {
    list-style: none;
    font-size: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin: 4rem 2rem 4rem 0;
    padding: 2rem;
}
.Inner li {
    text-align: left;
}
input {
    cursor: pointer;
}

#btn, .Btn1 {
    background-color: rgb(8, 116, 170);
    width: 200px;
    height: 50px;
    color: wheat;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
}

#btn:hover {
    background-color: darkcyan;
}

#score {
    background-color: rgb(43, 66, 79);
    margin: 2rem 3rem 2rem 3rem;
    padding: 4rem 7rem;
    border-radius: 20px;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.6);
    color: aliceblue;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}
.scoreArea {
    display: none;
}

#score .btn {
    margin: 4rem;
    background-color: rgb(21, 50, 40);
    color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 1rem 4rem;
    border: none;
    border-radius: 10px;
    cursor: progress;
}

#score .btn:hover {
    background-color: rgb(28, 121, 90);
}