* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
    background: linear-gradient(180deg, rgba(56,119,39,1) 0%, rgba(103,82,33,1) 64%, rgba(143,117,8,1) 100%, rgba(0,212,255,1) 100%);
  }
  /* align items center vertically and horizontally  */
  .Mcontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
  }
  .card {
    background-color: rgb(3, 80, 84);
    width: 70%;
    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    padding: 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  .card h2 {
    text-align: center;
    font-size: 35px;
    padding: 5px;
    margin-top: 5px;
  }
  .joke{
    text-align: center;
    text-transform: capitalize;
    color: chartreuse;
    font-size: 25px;
    font-weight: 700;
    padding: 2rem;
    margin: 10px  10px;
  }
  .btn {
        width: 7rem;
        height: 3rem;
        border: none;
        border-radius: 10px;
        background-color: rgb(255, 145, 0);
        font-size: 20px;
        cursor: pointer;
        box-shadow: rgb(255, 255, 255) 0px 2px 3px;
        transition: all 2s;
  }

  .btn:hover {
    background-color: rgb(255, 255, 255);
  }